<app-nav-bar></app-nav-bar>
<div class="container">
    <h1 class="d-flex justify-content-around">Trombinoscope</h1>
    <br>
    <div class="row p-3">
        <div class="col-lg-4 col-md-6" *ngFor="let member of members">
            <div class="text-center">
                <img class="avatar" [src]="member.image" alt="{{ member.firstName }}" style="height: 60px; width: 60px;">
                <h3>{{ member.firstName }} {{ member.lastName }}</h3>
                <p>Groupe {{ member.group }}</p>
            </div>
        </div>
    </div>
</div>