<div class="container">
  <div class="row justify-content-center align-items-center vh-100 vw-100">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Login</h4>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" id="username" name="username" class="form-control" [(ngModel)]="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password">
            </div>
            <div class="p-3"></div>
            <div class="d-flex justify-content-around">
              <button type="submit" class="btn btn-primary w-25">Login</button>
              <button type="submit" class="btn btn-primary w-25" (click)="redirectToInscription()">S'inscrire</button>
            </div>
            <div *ngIf="error" class="text-danger p-3">{{errorMessage}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
