<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Inscription</h4>
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email">
              </div>
              <div class="form-group">
                <label for="firstName">Prénom</label>
                <input type="text" id="firstName" class="form-control" [(ngModel)]="firstName" name="firstName">
              </div>
              <div class="form-group">
                <label for="lastName">Nom</label>
                <input type="text" id="lastName" class="form-control" [(ngModel)]="lastName" name="lastName">
              </div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password">
              </div>
              <div class="p-3"></div>
              <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary mr-2 w-25">S'inscrire</button>
                <button class="btn btn-primary ml-2" (click)="redirectToLogin()">Se connecter</button>
              </div>
              <div *ngIf="error" class="text-danger p-3">Erreur de connexion. Veuillez réessayer.</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  