<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="p-3"></div>
    <a class="navbar-brand" href="dashboard"><img src="../../assets/logo.png" style="height: 30px; width: 30px;"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item p-1">
                <a class="nav-link" href="#">Planning</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link" href="trombinoscope">Trombinoscope</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="profile">
                    <img src="../../assets/user.png" class="rounded-circle" style="width: 30px; height: 30px;" />
                </a>
            </li>
        </ul>
    </div>
</nav>