<div class="container">
    <h2 class="d-flex justify-content-around">Informations du compte</h2>
    <div class="form-group">
        <label for="firstName">Prénom:</label>
        <input id="firstName" class="form-control" [(ngModel)]="firstName" [disabled]="!isEditing">
    </div>
    <div class="form-group">
        <label for="lastName">Nom:</label>
        <input id="lastName" class="form-control" [(ngModel)]="lastName" [disabled]="!isEditing">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" class="form-control" [(ngModel)]="email" [disabled]="!isEditing">
    </div>
    <br>
    <div *ngIf="isEditing" class="m-1">
        <h3>Nouveau mot de passe</h3>
        <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input id="password" class="form-control" [(ngModel)]="password" [disabled]="!isEditing">
        </div>

        <div class="form-group">
            <label for="password">Confirmer mot de passe</label>
            <input id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" [disabled]="!isEditing">
        </div>
    </div>


    <div class="form-group" style="margin-top: 20px">
        <button class="btn btn-danger p-1" (click)="deleteAccount()" *ngIf="!isEditing">Supprimer le compte</button>
        <button class="btn btn-primary p-1 m-1" (click)="disconnect()" *ngIf="!isEditing">Déconnexion</button>
        <button class="btn btn-secondary p-1" (click)="toggleEditMode()">{{ isEditing ? 'Terminer' : 'Éditer'
            }}</button>
        <div *ngIf="error" class="text-danger p-3">{{errorMessage}}</div>
    </div>

</div>